<div class="footer">
<div class="main">
  <div class="footer-top pl10">
    <ul class="clearfix">
      <li><a href="#">帮助</a></li>
      <li><a href="#">反馈</a></li>
      <li><a href="#">联系我们</a></li>
      <li><a href="#">购买</a></li>
    </ul>
  </div>
  <div class="footer-bottom pl10 clearfix">
    <div class="f-b-left">
        <ul class="clearfix">
          <li><a href="#">关于考啊考</a></li>
          <li><a href="#">加入我们</a></li>
          <li><a href="#">网站地图</a></li>
          <li><a href="#">合作伙伴</a></li>
          <li><a href="#">广告服务</a></li>
        </ul>
    </div>
    <div class="f-b-right">版权所有&copy; 2014 考啊考。	保留所有权利。隐私保护</div>
  </div>
  </div>
</div>