<div class="header">
  <div class="main clearfix">
    <div class="l"><a href="/Home/Index" class="logo">考啊考</a></div>
    <div class="nav" id="example">
      <ul class="group clearfix">
        <li class="current"><a href="/home/course">课程</a></li>
        <li><a href="#">答疑</a></li>
        <li><a href="#">社区</a></li>
      </ul>
    </div>
    <div class="h-right">
      <ul class="clearfix" id="ul_nav">
        <li><a href="/Home/Register" class="button-min blue">注册</a></li>
        <li><a href="/Home/Login" class="button-min" >登录</a></li>
        <li class="user">
          <a href="#" class="effigy"></a>
            <blockquote class="user-center">
                <div class="user-pers">
                    <div class="message-box">
                      <div class="m-b-p">
                       <h1>个人中心</h1>
                       <ul class="clearfix m-b-cont">
                         <li><a href="#"><i class="bp1"></i>观看记录</a><span>(3)</span></li>
                         <li><a href="#"><i class="bp2"></i>我的消息</a><span>(3)</span></li>
                         <li><a href="#"><i class="bp3"></i>我的问答</a><span>(3)</span></li>
                         <li><a href="#"><i class="bp4"></i>账户设置</a></li>
                       </ul>
                       </div>
                       <div class="m-b-foot clearfix">
                         <div class="r"><a href="/home/logout"><i class="bp5"></i>退出</a></div>
                       </div>
                      <div class="triangle-border"></div>
                      <div class="triangle-background "></div>
                    </div>
                  </div>
           </blockquote>
        </li>
        <li class="search-cont">
          <a href="#" class="search" id="btn_search">搜索</a>
          <div class="search-input">
            <input type="text" value="搜索你想看课程" onfocus="this.value=''" onblur="this.value='搜索你想看课程'" class="search-txt" />
            <i>搜索</i>
          </div>
        </li>
      </ul>
    </div>
    <div class="h-m-right">
      <ul class="clearfix">
        <li class="mobile-genre">
          <a href="#" id="btn_mobileGenreSearch"><i>搜索</i></a>
          <div class="m-g-cont hide" >
            <ul class="clearfix">
              <li><a href="/home/course">课程</a></li>
              <li><a href="#">答疑</a></li>
              <li><a href="#">社区</a></li>
            </ul>
          </div>
        </li>
        <li class="mobile-search">
          <a href="#" id="btn_mobileSearch"><i>搜索</i></a>
          <div class="m-s-cont hide">
            <input type="text" class="m-s-text" value="搜索你想看课程" onfocus="this.value=''" onblur="this.value='搜索你想看课程'" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

