@charset "utf-8";
/* 桌面电脑布局: 1200px 及更高 */
.toppt{padding-top:60px;margin-bottom:80px;}
.toppt2{padding-top:60px;margin-bottom:130px;}
.toppt3{margin-bottom:100px;}
.main-cont{width:320px;}
.m-l-bt{padding-left:20px;font-family:Regular;}
.m-l-bt h1{display:inline-block;height:40px;padding:0 15px;line-height:40px;font-size:24px;color:#666;border-bottom:2px solid #666;}
.m-l-content{background:#efefef;padding:0 20px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.m-l-c-dl{font-family:"Microsoft YaHei";font-size:14px;color:#444;}
.dt1{padding:20px 0 5px 3px;}
.dd1{position:relative;}
.m-l-c-ico{position:absolute;top:5px;left:5px;z-index:99;display:block;width:25px;text-align:center;border-right:1px solid #bebebe;}
.input-txt{display:block;width:240px;height:20px;padding:5px 5px 5px 35px;line-height:20px;font-size:12px;color:#444;background:#fff;border:1px solid #b3b3b3;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.m-l-foot{padding:10px 0 20px 0;font-size:14px;}
.m-l-f-left{width:85px;vertical-align:middle;float:left;cursor: pointer;font-size:14px;color:#333;}
.checkbox, .checked{background-image:url(../Images/icon_02.png);}
.checkbox{display:inline-block;width:16px;height:16px;margin-right:2px;vertical-align:middle;overflow:hidden;cursor:pointer;}
.checked{background-position:0px 16px;}
.m-l-f-right{float:right;}
.m-l-f-right a{color:#ff0000;}
.button{display:inline-block;width:280px;height:40px;font-size:18px;line-height:40px;color:#444;text-align:center; background:#ccc;border:none;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;cursor:pointer; -moz-appearance: none;}
.button:hover{background:#ddd;}
.m-l-content input.blue, .h-right a.blue{color:#fff;background:#0079c1;}
.m-l-content input.blue:hover, .h-right a.blue:hover, .sum-dw a.blue:hover, .study-btn:hover{background:#0c8dc4;}
.mt20{margin-top:20px;}
.share{padding:20px 0;font-size:14px;}
.share-left{float:left;font-family:"宋体";color:#25a0dc;}
.share-right{float:right;}
.share-right li{float:left;padding-left:8px;}
.share-right a{display:block;width:20px;height:20px;text-indent:-999px;background-image:url(../Images/icon_01.png);}
.sina{background-position:0px 0px;}
.sina:hover{background-position:0px 20px;}
.qq{background-position:60px 0px;}
.qq:hover{background-position:60px 20px;}
.douban{background-position:20px 0px;}
.douban:hover{background-position:20px 20px;}
.renren{background-position:40px 0px;}
.renren:hover{background-position:40px 20px;}
.main-right{float:right;width:725px;height:453px;background:url(../Images/login_01.png) no-repeat;background-size:contain;}
.pl10{padding-left:10px;}
/*报错提示*/
.hint{position:absolute;top:-20px;left:235px;display:none;}
.hint-tool{position:relative;}
.h-t-nr{height:20px;width:120px;padding:5px 10px 5px 30px;font-size:14px;line-height:20px;color:#ff0000;background:#fffbaa url(../Images/hint_01.png) no-repeat 5px center;border:1px solid #db9b10;}
.hint-tool span{position:absolute;top:31px;left:12px;z-index:99;display:block;width:15px;height:12px;background:url(../Images/hint_02.png) no-repeat;}
.m-l-c-ts{padding-left:3px;font-size:12px;color:#777;}
.code{width:110px;padding:5px;}
.code-ico{display:inline-block;margin-left:6px;cursor:pointer;}
.register-bg{background:url(../Images/register_01.jpg) no-repeat right bottom;}
.button-min{display:block;width:65px;height:34px;font-size:14px;line-height:34px;color:#444;text-align:center; background:#ccc;border:none;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;cursor:pointer; -moz-appearance: none;}
.button-min:hover{background:#ddd;}
/*内容*/
/*首页*/
.content0{display:none;height:30px;background:#fff;}
.content1{height:462px;background:url(../Images/index_01.png) no-repeat center;}
.sum{padding-top:80px;}
.h2bt{font-size:48px;color:#009cdd;}
.sum p{padding-top:20px;font-size:24px;color:#666;}
.sum-dw{padding-top:130px;}
.sum-dw a.blue{width:350px;color:#fff;background:#0079c1;}
.content2{background:#333;}
.msg{padding:34px 0;font-size:18px;color:#fff;}
.msg li{float:left;height:32px;padding-right:20px;}
.msg li i{display:block;float:left;width:30px;height:30px;text-align:center;font-style:normal;line-height:30px;border:1px solid #fff;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;}
.msg li span{display:block;float:left;height:30px;padding-left:10px;line-height:30px;}
.content3{background:#97d03b;}
.hot{padding:45px 0;font-size:18px;color:#fff;text-align:center;-moz-text-shadow:2px 2px #70a220;-webkit-text-shadow:2px 2px #70a220;text-shadow:2px 2px #70a220;}
.hot a{font-size:36px;color:#fff;}
.hot a:hover{text-decoration:none;}
.hot p{padding-top:20px;line-height:30px;}
.content4{background:#fff;}
.subnav{padding:50px 0 120px;}
.subnav li{float:left;padding:0 50px;}
.subnav li a{position:relative;display:block;width:300px;padding-top:135px;font-size:14px;color:#444;line-height:30px;}
.subnav a i{position:absolute;top:0px;left:50%;margin-left:-45px;}
.content5{height:400px;background:url(../Images/index_05.jpg) no-repeat center;}
.tip{padding-top:130px;text-align:right;}
.tip img{margin-right:20px;}
.content6{background:#444;}
.banner{position:relative;width:768px;padding-top:45px;margin:0 auto;font-size:18px;color:#fff;}
.banner-cont{width:768px;height:355px;overflow:hidden;}
.banner-cont li{float:left;width:560px;padding:0 104px;}
.actor-up{padding:0 90px 0 180px;}
.actor-up h3{height:50px;line-height:50px;font-size:24px;text-align:center;border-bottom:1px solid #737373;}
.actor-down{padding-top:48px;}
.actor-down .r{width:435px;}
.num{position:absolute;top:325px;left:309px;z-index:999;width:150px;height:10px;}
.num span{display:inline-block;width:8px;height:8px;margin:0 13px;border:1px solid #fff;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;overflow:hidden;cursor:pointer;}
.num span.on{background:#fff;}
.prev{position:absolute;top:135px;left:-53px;width:23px;height:31px;background:url(../Images/icon_03.png) no-repeat;text-indent:999px;overflow:hidden;cursor:pointer;}
.next{position:absolute;top:135px;right:-53px;width:23px;height:31px;background:url(../Images/icon_03.png) no-repeat -23px 0;text-indent:999px;overflow:hidden;cursor:pointer;}
.content7{background:#fff;}
.hbt{padding:30px 0;font-size:24px;color:#333;text-align:center;}
.video > ul > li{position:relative;float:left;width:280px;height:200px;margin:0 10px;}
.video > ul > li a img{width:280px;height:200px;}
.video > ul > li a:hover{zoom: 1;filter: alpha(opacity=85);opacity: 0.85;}
.v-bt{position:absolute;top:0px;right:0px;z-index:999;width:80px;height:30px;font-size:14px;line-height:30px;color:#fff;text-align:center;background:rgba(0,0,0,0.4);}
.v-js{position:absolute;bottom:0px;left:0px;z-index:999;width:270px;height:60px;padding:0 5px 5px;font-size:14px;line-height:30px;color:#fff;background:url(../Images/icon_06.png);}
.v-js p{height:30px;}
.v-zt li{float:left;padding:0 18px;}
.v-praise{background:url(../Images/index_17.png) no-repeat left center;}
.v-news{background:url(../Images/index_18.png) no-repeat left center;}
.v-link{background:url(../Images/index_19.png) no-repeat left center;}
.v-zt li.v-name{float:right;}
.v-total{padding:40px 0;text-align:center;}
.v-total a{display:inline-block;width:158px;height:38px;font-size:18px;line-height:38px;text-align:center;color:#999;border:1px solid #cacaca;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;cursor:pointer;}
.v-total a:hover{color:#fff;background:#cacaca;transition:background .5s;
-moz-transition:background .5s;-webkit-transition:background .5s;-o-transition:background .5s;}
.content8{background:#eaeaea;}
.mobile{height:414px;padding-top:36px;}
.mobile-left{float:left;}
.mobile-left p{padding:35px 0 50px 0;font-size:36px;color:#737373;}
.mobile-left li{float:left;height:72px;padding-right:60px;line-height:72px;}
.mobile-btn{display:block;width:200px;height:70px;font-size:18px;line-height:70px;text-align:center;color:#333;border:1px solid #737373;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;cursor:pointer;}
.mobile-btn:hover{background:#737373;color:#fff;transition:background .5s;
-moz-transition:background .5s;-webkit-transition:background .5s;-o-transition:background .5s;}
.mobile-code{padding-left:23px;color:#333;background:url(../Images/index_11.png) no-repeat left center;}
.mobile-right{float:right;}
.content9{background:#fff;}
.team{position: relative;width:960px;height:167px;padding:0 10px 80px;overflow:hidden;}
.team li{float:left;width:284px;padding:0 18px;}
#div_left{float:left;width:0px;height:0px;}
#starScroll{width:960px;height:167px;margin-left:10px;margin-right:10px;overflow:hidden;float:left;}
#starScroll #contentScroll{width:500%}
#starScroll #ScrollOne{float:left;}
#starScroll #ScrollOne li{float:left;width:284px;padding:0 18px;}
#starScroll #ScrollTwo{float:left;}
#starScroll #ScrollTwo li{float:left;width:284px;padding:0 18px;}
#div_right{float:left;width:0px;height:0px;}
.pb80{padding-bottom:80px;}	
.img-scroll {position:relative;margin:10px auto;width:960px;}
.img-scroll .prev2,.img-scroll .next2 {position:absolute;display:block;width:0px;height:0px;top:0;text-indent:999px;overflow:hidden; }
.img-scroll .prev2 {left:0}
.img-scroll .next2 {right:0}
.img-list {position:relative; width:960px; height:167px;overflow:hidden}
.img-list ul {width:9999px;}
.img-list li {float:left;width:284px;padding:0 18px;}
.mlr60{margin:0 60px;}
.team-up{position:relative;height:100px;padding-left:30px;font-size:18px;line-height:30px;color:#777;background:url(../Images/index_20.png) no-repeat 5px 5px;border-bottom:1px solid #eaeaea;}
.team-border{position:absolute;left:32px;top:101px;overflow:hidden;width:0;height:0;border-width:6px;border-style:solid;border-color: #eaeaea transparent transparent transparent;}
.team-background{position:absolute;left:32px;top:100px;overflow:hidden;width:0;height:0;border-width:6px;border-style:solid;border-color: #fff transparent transparent transparent;}
.team-down{padding-top:18px;}
.team-down span{float:left;padding-left:18px;}
.team-down span img{display:block;width:48px;height:48px;background:#606060;-moz-border-radius:24px;-webkit-border-radius:24px;border-radius:24px;}
.team-down dl{float:left;padding-left:20px;color:#666;}
.team-down dt{font-size:18px;line-height:28px;}
.team-down dd{font-size:14px;line-height:20px;}
.content10{height:400px;background:url(../Images/index_14.png) no-repeat center;}
.tc{text-align:center;}
.ptb80{padding:80px 0;}
.study-btn{display:inline-block;width:240px;height:60px;font-size:18px;line-height:60px;color:#fff;background:#009cdd;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
/*course*/
.course_image{position:relative;width:100%;height:500px;margin:0 auto;overflow:hidden;}
.course_image ul{position:absolute;top:0;left:0;width:9999px;height:500px;overflow:hidden;}
.course_image li{float:left;width:100%;height:500px;}
.course_image li span{display:block;width:100%;height:500px;}
.course_image li .img_1{background:url(../images/course_01.jpg) center top no-repeat;background-size:cover;}
.course_image li .img_2{background:url(../images/course_01.jpg) center top no-repeat;background-size:cover;}
.course_image li .img_3{background:url(../images/course_01.jpg) center top no-repeat;background-size:cover;}
.course_image li .img_4{background:url(../images/course_01.jpg) center top no-repeat;background-size:cover;}
.flicking_con{position:relative;}
.flicking_con .flicking_inner{position:absolute;top:460px;left:50%;z-index:999;width:120px;height:10px;margin-left:-60px;}
.flicking_con a{float:left;display:block;width:8px;height:8px;margin:0 10px;padding:0;background:#444444;border:1px solid #fff;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;text-indent:-1000px;overflow:hidden;}
.flicking_con a.on{background:#fff;}
#btn_prev,#btn_next{z-index:11111;position:absolute;display:block;width:48px!important;height:84px!important;top:50%;margin-top:-42px;display:none;}
#btn_prev{background:url(../images/hover_left.png) no-repeat left top;left:100px;}
#btn_next{background:url(../images/hover_right.png) no-repeat right top;right:100px;}
.content11{background:#fff;}
.classify{padding:35px 0;}
.classify li{float:left;padding:0 32px;}
.classify li a{display:block;width:56px;font-size:12px;color:#333;text-align:center;}
.classify li a i{display:block;width:24px;height:24px;margin:0px auto 5px;background-image:url(../Images/course_02.png);}
.classify li a:hover, .classify li a.active{color:#0aa0df;}
.csy-00 i{background-position:left 0px;}
.classify li a.csy-00:hover i, .classify li a.csy-00.active i{background-position:right 0px;}
.csy-01 i{background-position:left -24px;}
.classify li a.csy-01:hover i, .classify li a.csy-01.active i{background-position:right -24px;}
.csy-02 i{background-position:left -48px;}
.classify li a.csy-02:hover i, .classify li a.csy-02.active i{background-position:right -48px;}
.csy-03 i{background-position:left -72px;}
.classify li a.csy-03:hover i, .classify li a.csy-03.active i{background-position:right -72px;}
.csy-04 i{background-position:left -96px;}
.classify li a.csy-04:hover i, .classify li a.csy-04.active i{background-position:right -96px;}
.csy-05 i{background-position:left -120px;}
.classify li a.csy-05:hover i, .classify li a.csy-05.active i{background-position:right -120px;}
.csy-06 i{background-position:left -144px;}
.classify li a.csy-06:hover i, .classify li a.csy-06.active i{background-position:right -144px;}
.csy-07 i{background-position:left -168px;}
.classify li a.csy-07:hover i, .classify li a.csy-07.active i{background-position:right -168px;}
.csy-08 i{background-position:left -192px;}
.classify li a.csy-08:hover i, .classify li a.csy-08.active i{background-position:right -192px;}
.csy-09 i{background-position:left -216px;}
.classify li a.csy-09:hover i, .classify li a.csy-09.active i{background-position:right -216px;}
.content12{background:#f5f5f5;}
.entire{padding-bottom:35px;}
.e-sort{padding:25px 10px;}
.e-sort > ul > li{position:relative;float:left;margin-right:36px;}
.e-sort > ul > li > a{display:block;height:30px;width:70px;line-height:30px;font-size:14px;color:#999;padding:0 10px;background:url(../Images/course_03.png) no-repeat 63px 6px;}
/*鼠标划上显示内容
.e-sort > ul > li:hover > a{color:#fff;background:#009cdd url(../Images/course_03.png) no-repeat 63px 6px;}
.e-sort > ul > li:hover .e-s-nr{display:block;}
*/
.e-s-nr{position:absolute;left:0px;top:30px;z-index:9999;width:90px;background:rgba(255,255,255,0.5) none repeat scroll !important; }
.e-s-nr li{font-size:12px;}
.e-s-nr li a{display:block;height:30px;line-height:30px;color:#666;padding:0 10px;}
.e-s-default{background:url(../Images/course_04.png) no-repeat 63px 6px;}
.e-s-hot{background:url(../Images/course_05.png) no-repeat 63px 6px;}
.e-s-new{background:url(../Images/course_06.png) no-repeat 63px 6px;}
.e-nr > ul > li{margin-bottom:36px;}
.e-nr > ul > li > a > img{width:280px;height:140px;}
.e-nr > ul > li div.v-js{background:#fff;color:#333;}
.e-nr > ul > li div.v-js a{color:#333;}
.e-nr > ul > li div.v-js p a:hover{text-decoration:underline;}
.e-nr li.v-praise{background:url(../Images/course_09.png) no-repeat left center;}
.e-nr li.v-news{background:url(../Images/course_10.png) no-repeat left center;}
.e-nr li.v-link{background:url(../Images/course_11.png) no-repeat left center;}
.e-nr ul.v-zt li.v-name img{width:20px;height:20px;margin-right:5px;border:1px solid #c4c4c4;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
.e-pags{width:480px;margin:0 auto;}
.e-pags li{float:left;}
.e-p-paginal{float:left;height:30px;}
.e-p-paginal li{padding:0 5px;}
.e-p-paginal a{display:inline-block;width:30px;height:30px;line-height:30px;text-align:center;font-size:18px;color:#ccc;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;cursor:pointer;}.e-p-paginal a:hover{color:#fff;background:#999;}
.e-p-paginal li.e-p-prev a{width:17px;background:url(../Images/course_07.png) no-repeat center center;text-indent:999px;overflow:hidden;border-radius:0;}
.e-p-paginal li.e-p-next a{width:17px;background:url(../Images/course_08.png) no-repeat center center;text-indent:999px;overflow:hidden;border-radius:0;}
.e-p-paginal .e-p-current{color:#fff;background:#009cdd;}
.e-p-goto{float:left;font-size:14px;}
.e-p-goto li{height:30px;line-height:30px;margin-left:15px;}
.e-p-txt{width:22px;height:22px;line-height:22px;text-align:center;font-size:14px;background:#fff;border:1px solid #ccc;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.e-p-btn{display:block;width:40px;height:30px;line-height:30px;text-align:center;font-size:14px;color:#fff;background:#ccc;border:none;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;cursor:pointer;}
.e-p-btn:hover{background:#009cdd;}
.content13{background:#fff;}
.advisor{width:100%;}
.advisor dl,.advisor dt,.advisor dd,.advisor-more{float:left;}
.advisor dl,.advisor-more{width:170px;padding-left:30px;margin:0 20px 30px;}
.advisor dt img{width:58px;height:58px;border:1px solid #c4c4c4;-moz-border-radius:29px;-webkit-border-radius:29px;border-radius:29px}
.advisor dd{width:90px;padding-left:15px;font-size:14px;line-height:30px;}
.advisor a{color:#333;}.advisor a:hover{color:#f00;}
.advisor-more a{font-size:24px;line-height:60px;}
.content14{background:#f5f5f5;}
.show{padding:35px 0;}
.show > div{padding-bottom:10px;}
.content15{background:#fff;display:none;}
.classify2{width:100%;}
.classify2 li{float:left;width:10%;}
.classify2 li a{display:block;height:76px;line-height:76px;text-align:center;font-size:14px;color:#fff;background:#808080;}
.classify2 li a.csy2-00{background:#afafaf;}
.classify2 li a.csy2-01{background:#80322c;}
.classify2 li a.csy2-02{background:#df3637;}
.classify2 li a.csy2-03{background:#f4941d;}
.classify2 li a.csy2-04{background:#f8cc37;}
.classify2 li a.csy2-05{background:#45b567;}
.classify2 li a.csy2-06{background:#56bae4;}
.classify2 li a.csy2-07{background:#214da1;}
.classify2 li a.csy2-08{background:#673f98;}
.classify2 li a.csy2-09{background:#48465c;}
.content16{background:#fff;display:none;}
.classify3{width:100%;padding:10px 0;}
.classify3 li{float:left;padding-right:5px;margin-bottom:8px;font-size:14px;}
.classify3 li.whole{width:100%;padding:0;}
.classify3 li.whole a{background:#bbb;color:#fff;text-align:center;}
.classify3 li a{display:block;height:30px;line-height:30px;color:#333;padding:0 10px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;cursor:pointer;}
.classify3 li a.active{background:#009cdd;color:#fff;}
/*paly*/
.player{width:1200px;margin:0 auto;}
.play-summary{width:860px;padding-top:20px;}
.play-summary p{font-size:14px;color:#009cdd;}
.play-summary p a{color:#009cdd;}
.play-summary p a:hover{text-decoration:underline;}
.play-summary p span{margin:0 2px;}
.fix{padding:10px 0;}
.fix h1{font-size:24px;color:#444;}
.fix h1 a{color:#444;}
.play-box{float:left;width:860px;height:500px;background:#ccc;}
.play-list{float:right;width:340px;height:500px;background:#333;}
.p-l-up{height:176px;padding:10px 25px 10px 15px;font-family:Regular;color:#fff;border-bottom:1px solid #222;}
.p-l-up h2{height:30px;line-height:30px;margin-bottom:5px;font-size:18px;color:#fff;}
.p-l-name{float:left;width:64px;padding-right:20px;}
.p-l-name img{width:64px;height:64px;-moz-border-radius:32px;-webkit-border-radius:32px;border-radius:32px;}
.p-l-name a{display:block;font-size:18px;color:#fff;text-align:center;}
.p-l-name a i{display:block;margin-bottom:10px;}
.p-l-brief{float:right;width:216px;font-size:12px;line-height:20px; text-indent:24px;}
.p-l-down{padding:0 20px 0 15px;}
.p-l-down h2{height:50px;font-size:18px;color:#009cdd;line-height:50px;border-bottom:1px solid #666;}
.p-l-inner{padding-top:10px;}
.p-l-inner a{position:relative;display:block;float:left;width:58px;height:58px;margin:0 2px 2px 0;line-height:58px;font-size:24px;color:#ccc;text-align:center;background:#666;}
.p-l-inner a:hover div{display:block;transition:display 2s;
-moz-transition:display 2s;-webkit-transition:display 2s;-o-transition:display 2s;}
.p-l-inner a.active{color:#fff;background:#009cdd;}
.p-l-ts{position:absolute;top:63px;z-index:999;display:none;width:276px;height:150px;line-height:20px;padding:10px;font-size:12px;color:#333;border:1px solid #c4c4c4;background:#fff;}
.p-l-ts h3{color:#000;margin-bottom:5px;text-align:left;}
.p-l-ts p{height:120px;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:6;-webkit-box-orient:vertical;overflow:hidden;}
.p-l-inner a.set01 .p-l-ts{left:0px;}
.p-l-inner a.set02 .p-l-ts{left:-60px;}
.arrow-up{position:absolute;top:58px;left:20px;z-index:999;display:none;width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #fff;}
.play-foot{padding:20px 0;border:1px solid #c4c4c4;background:#fff;}
.p-f-main a{float:left;display:block;width:35px;height:55px;margin:0 20px;font-size:14px;color:#aaa;text-align:center;}
.p-f-main a:hover{color:#009cdd;}
.p-f-main a i{display:block;width:24px;height:24px;margin:0 0 10px 6px;background-image:url(../Images/icon_07.png);overflow:hidden;}
.p-f-main a.pra i{background-position:0px -24px;}
.p-f-main a.pra:hover i{background-position:24px -24px;}
.p-f-main a.sub i{background-position:0px 0px;}
.p-f-main a.sub:hover i{background-position:24px 0px;}
.p-f-main a.col i{background-position:0px -48px;}
.p-f-main a.col:hover i{background-position:24px -48px;}
.play-comments{padding-top:40px;}
.l-c-left{float:left;width:860px;}
.l-c-js{margin-bottom:30px;}
.l-c-js dt{font-size:24px;color:#333;margin-bottom:10px;}
.l-c-js dd{line-height:30px;font-size:18px;color:#666;text-indent:35px;}
#gallery > div{float:left;width:60px;height:30px;margin-right:30px;font-size:18px;color:#333;line-height:30px;text-align:center;cursor:pointer;}
.now{border-bottom:2px solid #333;}
.conceal{display:none; width:0; overflow:hidden;}
.reveal{background:#fff;}
.p20{padding:20px;}
.comment-area{display:block;width:800px;height:100px;padding:10px;font-size:14px;color:#999;line-height:20px;background:#f0fbff;}
.comment-area2{display:block;width:800px;height:100px;padding:10px;font-size:14px;color:#999;line-height:20px;background:#efefef;}
.comment-btn{display:inline-block;width:100px;height:36px;font-size:14px;line-height:36px;color:#fff;text-align:center; background:#009cdd;border:none;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;cursor:pointer; -moz-appearance: none;}
.comment-btn2{display:inline-block;width:100px;height:36px;font-size:14px;line-height:36px;color:#666;text-align:center; background:#e9e9e9;border:none;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;cursor:pointer; -moz-appearance: none;}
.comment-btn3{display:inline-block;width:300px;height:30px;font-size:14px;line-height:30px;color:#444;text-align:center; background:#ebebeb;border:none;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;cursor:pointer; -moz-appearance: none;}
.c-t-tj{padding:10px 0;border-bottom:1px solid #ccc;}
.c-t-tj .l{padding:8px 0;}
.c-t-tj .share-left{font-family:"Microsoft YaHei";color:#333;}
.comment-main{height:auto !important;height:450px;min-height:450px;overflow:visible;padding-top:15px;}
.comment-main li{position:relative;padding:10px 0;}
.user_icon{position:absolute;left:0px;top:10px;}
.user_icon img{width:48px;height:48px;-moz-border-radius:24px;-webkit-border-radius:24px;border-radius:24px;}
.c-m-nr{padding-left:65px;}
.c-m-top{font-size:12px;color:#666;line-height:25px;}
.c-m-top a{margin-right:5px;color:#2277b7;}
.c-m-mid{position:relative;margin-bottom:10px;}
.c-m-mid p{padding-right:45px;font-size:14px;color:#333;line-height:20px;}
.c-m-mid p a{color:#2277b7;}
.c-m-mid a.reply{position:absolute;bottom:0px;right:0px;display:block;height:20px;font-size:12px;line-height:20px;color:#2277b7;cursor:pointer;}
.c-m-down a{display:inline-block;margin-right:30px;height:20px;font-size:14px;line-height:20px;color:#666;}
.c-m-down a i{margin-right:3px;}
.child{display:none;padding-top:30px;}
.p10{padding:10px 0;}
.comment-end{padding:10px 0;border-top:1px solid #ccc;text-align:center;}
.quiz-top{padding-top:10px;}
.quiz-top dt{width:100px;height:40px;margin-bottom:10px;font-size:18px;line-height:40px;color:#fff;text-align:center;background:#97d03b;}
.quiz-top dd{height:30px;padding-left:30px;font-size:14px;line-height:30px;}
.quiz-top dd a{color:#666;}
.quiz-top dd a:hover{text-decoration:underline;}
.quiz-down{padding-top:10px;}
.quiz-bt{width:100px;height:40px;margin-bottom:10px;font-size:18px;line-height:40px;color:#fff;text-align:center;background:#999;}
.quiz-reward{position:relative;float:left;padding:3px 0;margin-right:20px;}
.quiz-reward a{display:block;height:30px;width:70px;line-height:30px;font-size:14px;color:#999;padding:0 10px;background:url(../Images/course_03.png) no-repeat 63px 6px;}
.quiz-main li{padding:10px 20px;}
.q-c-main{cursor:pointer;}
.q-c-num{float:left;width:30px;height:40px;font-size:14px;color:#999;text-align:center;border:1px solid #ccc;background:url(../Images/play_04.png) no-repeat center 25px;}
.q-c-doc{float:left;margin-left:5px;}
.q-c-doc p{font-size:12px;color:#999;}
.q-c-bt{font-size:18px;color:#1ed0e1;}
.q-c-bt span{padding-left:15px;margin-left:15px;font-size:14px;color:#ff0000;background:url(../Images/play_06.png) no-repeat left center;}
.q-c-time{float:left;margin-left:180px;font-size:14px;color:#999;}
.q-c-ico{position:relative;float:right;}
.q-c-ico img{width:36px;height:36px;border:1px solid #cdcdcd;-moz-border-radius:18px;-webkit-border-radius:18px;border-radius:18px;}
.q-c-ico span{position:absolute;bottom:0px;right:0px;width:18px;height:18px;font-size:12px;line-height:18px;color:#fff;text-align:center;border:1px solid #fff;-moz-border-radius:9px;-webkit-border-radius:9px;border-radius:9px;background:#ff0000;}
.q-c-nr{display:none;font-size:14px;line-height:24px;}
.q-c-nr dt{float:left;width:32px;padding-top:15px;text-align:center;}
.q-c-nr dt img{width:30px;height:30px;border:1px solid #cdcdcd;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;}
.q-c-nr dd{float:left;width:760px;padding-top:15px;margin-left:5px;color:#000;}
.q-c-nr dd p{font-size:12px;color:#666;}
.tinct1{color:#1ed0e1;}
.tinct2{color:#97d03b;}
.q-c-dw{text-align:right;}
.q-c-area{width:738px;heioght:60px;padding:10px;border:1px solid #ccc;background:#fff;}
.q-c-btn{display:inline-block;width:100px;heioght:36px;font-size:14px;line-height:36px;color:#fff;text-align:center;background:#97d03b;border:none;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;cursor:pointer;}
.highlight{border:1px solid #1ed0e1;}
.highlight .q-c-num{color:#1ed0e1;border:1px solid #1ed0e1;background:url(../Images/play_05.png) no-repeat center 25px;}
.q-c-cont .r{font-size:12px;color:#666;}
.q-c-message{float:left;width:630px;}
.q-c-message a{font-size:14px;color:#666;padding-left:20px;background:url(../Images/play_07.png) no-repeat left center;}
.l-c-right{float:right;width:310px;background:#fff;}
.correlate{margin-top:20px;padding:10px;}
.correlate dt{height:40px;font-size:18px;line-height:40px;color:#333;border-bottom:1px solid #ccc;}
.correlate dd{margin-top:12px;}
.correlate dd .r{width:120px;}
.correlate dd h3{margin-bottom:10px;font-size:14px;color:#333;}
.correlate dd p{font-size:12px;color:#999;}
.member-main{width:1200px;margin:100px auto 0;border: 1px solid #ddd;}
#area-main-left{width:245px;padding:24px;border-right:1px solid #ddd;background-color:#f9f9f9;}
#block-user-left{margin-bottom:16px;text-align:center;}
#block-user-left .thumb{position:relative;display:block;width:128px;height:128px;margin:-88px auto 0;border-radius:64px;border:1px solid #ddd;background-color:#fafafa;text-align:center;overflow:hidden;white-space:normal;cursor:pointer;}
#block-user-left .avatar{width:112px;height:112px;margin:7px auto 0;border:none;border-radius:56px;box-shadow:0 1px 2px rgba(0,0,0,0.1);}
#block-user-left .cover{position:relative;display:block;width:112px;height:112px;margin:16px auto 0;padding-top:32px;top:0;color:#fff;background-color:rgba(0,0,0,0.5);border-radius:56px;text-align:center;top:-128px;display: none;}
#block-user-left .cover .icon{display:block;width:1em;margin:0 auto;font-size:32px;text-align:center;}
#block-user-left .d{margin:8px auto 0;}
#block-user-left .d .name{height:32px;line-height:32px;font-size:20px;font-weight:bold;color:#666;text-shadow:none;overflow:hidden;}
#btn-sign-user{display:block;float:none;width:108px;height:32px;line-height:30px;margin:8px auto;}
.icon-check-circle:before{content: "\f058";}
.icon{width:1em;margin-right:.2em;line-height:1em;text-align:center;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.success.btn{color:#fff;border:1px solid #95ba12;background-color:#95ba12;}
.success.btn:hover{border-color: #abd615;background-color: #abd615;}
#block-user-left .desc{color: #666;text-align:left;margin:16px auto;font-size:12px;line-height:1.4;cursor:pointer;white-space:normal;word-break:break-all;}
.icon {display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;
-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-edit:before, .icon-pencil-square-o:before{content: "\f044";}
#block-user-left .area-extra{position:relative;margin:16px auto 8px;}
#block-user-left .area-extra .space{position:absolute;left:-24px;top:0;z-index:0;display:block;width:293px;height:100%;border:1px solid #ddd;border-left:none;background-color:#fafbfd;}
#block-user-left .area-extra a{position:relative;float:left;line-height:16px;padding:8px 0;width:33.33333333%;text-align:center;white-space:normal;cursor:pointer;}
#block-user-left .area-extra a .pts{display:block;font-size:14px;font-weight:bold;color:#5dceea;cursor:pointer;}
#block-user-left .area-extra a .hin{display:block;font-size:12px;font-style:italic;color:#666;cursor:pointer;}
.hidden{display:none !important;}
#list-guide-left{display:block;}
.part-guide-left{margin:16px auto;padding:0 0 0 16px;overflow:visible;}
.part-guide-left .banne{color:#fff;border:none;box-shadow:none;background:none;}
#list-guide-left .part-guide-left.active .banne .tab{color:#92c202;}
#list-guide-left .part-guide-left .banne .tab{color:#999;}
.part-guide-left .banne .tab{padding:0;color:#fff;cursor:pointer;}
.banne .tab.fixed{float:left !important;padding:0 8px;font-size:18px;font-weight:normal;overflow:visible;border:none;}
.banne .tab{position:relative;float:left;width:auto;height:35px;margin:0;padding:0 16px;font-size:14px;line-height:35px;color:#333;text-align:center;border:none;border-right:1px solid #eee;-webkit-transition:.2s 0s all ease;-moz-transition:.2s 0s all ease;-ms-transition:.2s 0s all ease;-o-transition:.2s 0s all ease;transition:.2s 0s all ease;overflow:hidden;cursor:pointer;}
#list-guide-left .part-guide-left.active .banne .tab .icon{color: #92c202;}
.part-guide-left .banne .tab .icon{margin:0 .5em 0 0;}
.fixed .icon{cursor: pointer;}
.icon-home:before{content:"\f015";}
.part-guide-left .mainer{padding-left:34px;overflow:hidden;}
#list-guide-left .part-guide-left .mainer a{color: #999;}
.part-guide-left .mainer a{display:block;height:24px;line-height:24px;font-size:12px;font-style:italic;}
#list-guide-left .part-guide-left .banne .tab:hover{color:#5dceea;}
#list-guide-left .part-guide-left .banne .tab .icon{color:#3a9bd9;}
#list-guide-left .part-guide-left .banne .tab:hover .icon{color:#5dceea;}
.icon-folder-open:before{content:"\f07c";}
.icon-history:before{content:"\f029";}
.icon-envelope-square:before{content:"\f003";}
.icon-upload:before{content:"\f093";}
.icon-book:before{content:"\f02d";}
.icon-at:before{content:"\f10c";}
.icon-gear:before, .icon-cog:before{content:"\f013";}
.icon-gift:before{content:"\f06b";}
#list-guide-left .part-guide-left .mainer a:hover{color:#5dceea;}
#list-guide-left .part-guide-left .banne span{color:#f6f7fa;background-color:#c4cfe1;}
.part-guide-left .banne span{float:right;height:16px;line-height:16px;padding:0 8px;font-size:12px;font-weight:bold;border-radius:2px;margin:10px 0 0;box-shadow:0 1px 2px rgba(0,0,0,0.2) inset;}
#area-main-right{width:875px;padding:16px;margin:0 -1px;}
#block-banner-right{height:46px;line-height:46px;margin:-16px -15px 16px -16px;background-color:#fff;border-bottom:1px solid #ddd;}
.block{position:relative;overflow:visible;margin:0 auto 16px;padding:0;background-color:#fff;box-shadow:0 1px 2px rgba(0,0,0,0.2);box-shadow:none 9;}
#block-banner-right .now{display:inline-block;height:42px;line-height:38px;margin:0 16px;padding:0 8px;font-size:16px;border:none;border-top:4px solid #92c202;cursor:pointer;}
#block-banner-right .old{display:inline-block;height:42px;line-height:38px;margin:0 16px;padding:0 8px;font-size:16px;border:none;border-top:4px solid #fff;cursor:pointer;}
#block-banner-right .old .icon{width:8px;height:8px;margin:6px 8px 0 0;background:#3a9bd9;border-radius:4px;opacity:.5;}
#block-banner-right .now .icon{width:8px;height:8px;margin:6px 8px 0 0;background:#3a9bd9;border-radius:4px;opacity:1;}
#block-banner-right .now:hover{border-color:#92c202;}
#block-banner-right .old:hover{border-color:#5dceea;}
#block-banner-right .old:hover .icon{opacity:1;}
#block-first .mainer{padding:16px;}
#area-user-splash{margin:16px 0 0;padding:0;}
#area-user-splash .avatar{border-radius:50px;box-shadow:none;border:none;}
#area-user-splash .avatar{width:100px;height:100px;}
#area-user-splash .r{width:700px;}
#area-user-splash .r .name{font-size:32px;font-weight:bold;letter-spacing:-.1em;color:#333;line-height:1.2;}
#area-user-splash .r .uid{font-size:16px;font-weight:bold;letter-spacing:0;color:#333;margin:0 0 0 16px;vertical-align:bottom;}
#hint-unread-splash{margin:8px 0 0;font-size:14px;}
#hint-unread-splash .pts{margin:0 2px;font-size:100%;color:#c33;}
#hint-unread-splash a{margin:0 2px;color:#08c;}
#area-user-splash .level{position:relative;display:block;width:320px;height:24px;margin:12px 0 8px 0;text-align:center;background-color:#bbb;color:#fff;border-radius:2px;box-shadow:0 1px 1px rgba(0,0,0,0.1);overflow:hidden;}
#area-user-splash .level .a{position:absolute;left:0;top:0;width:0;height:100%;background-color:#055f95;border-radius:0 1px 1px 0;}
#area-user-splash .level .b{position:absolute;width:100%;height:100%;font-size:14px;line-height:24px;left:0;top:0;cursor:default;}
#block-first .item{margin:0 0 16px;}
#block-first .item .l .icon{margin:12px 8px 0 0;font-size:24px;color:#ccc;}
#block-first .item .a{font-size:18px;font-weight:bold;letter-spacing:-.1em;line-height:1.2;color:#333;}
#block-first .item .a .pts{margin:0 8px;font-size:32px;}
#block-first .item .b{font-size:12px;font-style:italic;line-height:1.2;color:#999;}
.icon-clock-o:before{content:"\f017";}
#area-cont-right .block:nth-of-type(3){-webkit-animation:scale-in .5s ease .4s backwards;-moz-animation:scale-in .5s ease .4s backwards;-o-animation:scale-in .5s ease .4s backwards;animation:scale-in .5s ease .4s backwards;}
.conceal{display:none;}
#block-second .banne .tab.fixed:before {
background-color: #055f95;
content: '';
display: inline-block;
height: 16px;
margin-right: 4px;
width: 2px;
}
.banne .tab.fixed .hint {
margin: 0 0 0 4px;
color: #ccc;
font-size: 10px;
}
#area-cont-right .mainer {
padding: 8px 15px;
}
#block-first h3:nth-of-type(1) {
margin-top: 16px;
}
#block-first h3 {
height: 16px;
line-height: 16px;
font-size: 16px;
margin: 32px 0 8px;
color: #666;
}
#block-first h3 .icon {
color: #999;
}
.icon-question-circle:before {
content: "\f059";
}
.alert {
position: relative;
display: block;
margin: 4px auto;
padding: 8px;
border: 1px solid #bce8f1;
border-radius: 2px;
background-color: #d9edf7;
color: #31708f;
text-align: left;
font-size: 13px;
line-height: 1.4;
}
.alert.warning, .alert-warning {
background-color: #fcf8e3;
border-color: #faebcc;
color: #8a6d3b;
}
.divider {
height: 1px;
border-top: 1px dashed #eee;
margin: 8px auto;
}
.btn:last-of-type {
border-radius: 1px;
margin-right: 0;
}
.icon-gift:before {
content: "\f06b";
}
.info.btn {
color: #fff;
border: 1px solid #055f95;
background-color: #055f95;
}
.icon-question-circle:before {
content: "\f059";
}
.btn {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
position: relative;
float: left;
margin: 2px 2px 0;
padding: 0 8px;
width: auto;
height: 28px;
outline: none;
outline: 0;
border: 1px solid #ccc;
border-radius: 1px;
background-color: #fff;
background-repeat: repeat-x;
box-shadow: 0 1px 1px rgba(0,0,0,0.1);
color: #333;
vertical-align: middle;
text-align: center;
font-size: 14px;
line-height: 26px;
cursor: pointer;
}
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

#scrollbar1{width:340px;}
#scrollbar1 .viewport{width:335px;height:300px;overflow:hidden;position:relative;}
#scrollbar1 .overview{list-style:none;position:absolute;left:0;top:0;}
#scrollbar1 .scrollbar{position:relative;background-position:0 0;float:right;width:5px;}
#scrollbar1 .track{background-color:#333;height:100%;width:5px;position:relative;}
#scrollbar1 .thumb{background:#666;height:20px;width:5px;cursor:pointer;overflow: hidden;position:absolute;top:0;left:0;}
#scrollbar1 .disable{display: none;}

/*平板电脑布局:769px 至 1200px*/
@media only screen and (max-width: 1200px) {
.register-bg{background-size:70% auto;}
.toppt3{;margin-bottom:110px;}
.sum{text-align:center;}
.content8{display:none;}
.content9{display:none;}
.msg{padding:5px 0;}
.msg ul{width:350px;margin:0 auto;}
.msg li{width:350px;padding:10px 0;}
.content2 > div.main2, .content4 > div.main, .content6 > div.main2{width:100%;}
.subnav{padding:35px 0;}
.subnav ul{width:768px;margin:0 auto;}
.subnav li{padding:0 28px;}
.subnav li a{width:200px;}
.prev{display:none;}
.next{display:none;}
.video > ul{width:600px;margin:0 auto;}
.video > ul > li{margin:10px;}
.v-total a{display:none;}
.course_image, .course_image ul, .course_image li, .course_image li span{height:350px;}
.flicking_con .flicking_inner{top:320px;}
.content11{display:none;}
.content15{display:block;}
.e-pags{display:none;}
.advisor{width:768px;margin:0 auto;}
.advisor dl{width:170px;padding-left:56px;margin:0 15px 30px;}
.advisor-more{float:none;width:140px;margin:0 auto 20px;}
.show{width:600px;margin:0 auto;padding:35px 0;}
.show div, .show img{width:100%;}
}

/*移动设备布局:480px 及 768px*/
@media only screen and (max-width: 768px) {
.register-bg{background:none;}
.main-cont{margin:0 auto;}
.toppt{padding-top:30px;margin-bottom:130px;}
.subnav ul{width:256px;margin:0 auto;}
.content5{display:none;}
.content6{display:none;}
.content7{display:none;}
.course_image, .course_image ul, .course_image li, .course_image li span{height:300px;}
.flicking_con .flicking_inner{top:280px;}
.content14 div.main{width:100%;}
.show{width:100%;}
.video > ul{width:300px;margin:0 auto;}
.e-sort{padding:15px 0;}
.content13{display:none;}
.content15{display:none;}
.content16{display:block;}
}

/*移动设备布局:480px 及更低*/
@media only screen and (max-width: 480px) {
.main-cont{width:300px;}
.toppt{padding-top:20px;margin-bottom:130px;}
.m-l-bt h1{font-size:18px;}
.m-l-content{padding:0 10px;}
.h2bt{font-size:30px;}
.sum p{font-size:16px;}
.sum-dw a.button{width:240px;}
.msg ul{width:280px;margin:0 auto;}
.msg li{width:280px;padding:10px 0;font-size:14px;}
.hot{font-size:14px;}
.hot a{font-size:24px;}
.course_image, .course_image ul, .course_image li, .course_image li span{height:200px;}
.flicking_con .flicking_inner{top:180px;}
}


