@{
    ViewBag.Title = "考啊考-首页";
}

<script src="@Url.Content("~/modules/scripts/jquery.color-RGBa-patch.js")" type="text/javascript"></script>
<body>
<div class="content0 hide"></div>
<div class="content1">
  <div class="main sum">
    <h2 class="h2bt">轻松学习,简单考试</h2>
    <p>注册考啊考,立即成为会员，免费听课享受N多的会员特权。<br/>还能免费体验专家答疑服务。</p>
    <div class="sum-dw">
      <a href="/home/register" class="button blue">立即注册</a>
    </div>
  </div>
</div>
<div class="content2">
  <div class="main2 msg">
    <ul class="clearfix">
      <li class="clearfix"><i>1</i><span>免费提供，各类高品质精品课</span></li>
      <li class="clearfix"><i>2</i><span>在线互动答疑，随时沟通交流学习问题</span></li>
      <li class="clearfix"><i>3</i><span>自建社区，结交考友一起学习</span></li>
    </ul>
  </div>
</div>
<div class="content3">
  <div class="main hot">
    <a href="#">126种考试在线课程全免费</a>
    <p>我们提供最优质的免费课程<br/>
       最良好的学习体验<br/>
       注册会员将享受更多专享服务<br/>
       快来加入吧！</p>
  </div>
</div>
<div class="content4">
  <div class="main subnav">
    <ul class="clearfix">
      <li><a href="#"><i><img src="/modules/home/Images/index_03.png" alt=""/></i>考啊考提供各门类考试相关考试题库及资料免费下载</a></li>
      <li><a href="#"><i><img src="/modules/home/Images/index_04.png" alt=""/></i>我们特设专家答疑版块，让你自由选择喜爱的老师为您一对一答疑</a></li>
      <li><a href="#"><i><img src="/modules/home/Images/index_02.png" alt=""/></i>我们不仅为您提供学习帮助，还和数家优秀企业合作，为客户提供职业规划及就业推荐服务</a></li>
    </ul>
  </div>
</div>
<div class="content5"><div class="main tip"><img src="/modules/home/Images/index_21.png" alt=""/></div></div>
<div class="content6">
<div class="main2">
  <div class="banner" id="imgPlay">
  <div class="banner-cont">
    <ul class="clearfix" id="actor">
      <li>
        <div class="actor-up">
          <h3>分享计划</h3>
        </div>
        <div class="actor-down clearfix">
          <div class="l"><img src="/modules/home/Images/index_06.png" alt=""/></div>
          <div class="r">广告分成，粉丝赞助等多种收入方式，帮您赚取更多的收益；我们将与更多优质课程提供者分享利润。通过分享计划个人将有更多机会获得收益。</div>
        </div>
      </li>
       <li>
        <div class="actor-up">
          <h3>分享计划</h3>
        </div>
        <div class="actor-down clearfix">
          <div class="l"><img src="/modules/home/Images/index_06.png" alt=""/></div>
          <div class="r">广告分成，粉丝赞助等多种收入方式，帮您赚取更多的收益；我们将与更多优质课程提供者分享利润。通过分享计划个人将有更多机会获得收益。</div>
        </div>
      </li>
      <li>
        <div class="actor-up">
          <h3>分享计划</h3>
        </div>
        <div class="actor-down clearfix">
          <div class="l"><img src="/modules/home/Images/index_06.png" alt=""/></div>
          <div class="r">广告分成，粉丝赞助等多种收入方式，帮您赚取更多的收益；我们将与更多优质课程提供者分享利润。通过分享计划个人将有更多机会获得收益。</div>
        </div>
      </li>
      <li>
        <div class="actor-up">
          <h3>分享计划</h3>
        </div>
        <div class="actor-down clearfix">
          <div class="l"><img src="/modules/home/Images/index_06.png" alt=""/></div>
          <div class="r">广告分成，粉丝赞助等多种收入方式，帮您赚取更多的收益；我们将与更多优质课程提供者分享利润。通过分享计划个人将有更多机会获得收益。</div>
        </div>
      </li>
    </ul>
    </div>
    <div class="num clearfix" id="numInner"></div>
    <div class="prev">上一张</div>
    <div class="next">下一张</div>
  </div>
  </div>
</div>
<div class="content7">
  <div class="main video">
    <h3 class="hbt">课程</h3>
    <ul class="clearfix">
    </ul>
    <div class="v-total">
      <a href="/home/course">全部课程</a>
    </div>
  </div>
</div>
<div class="content8">
  <div class="main">
    <div class="mobile">
      <div class="mobile-left">
      <p>随时随地，学习答疑</p>
      <ul class="clearfix">
        <li><a href="#" class="mobile-btn">Android版</a></li>
        <li><a href="#" class="mobile-btn">ISO版</a></li>
        <li><a href="#" class="mobile-code">二维码</a></li>
      </ul>
      </div>
      <div class="mobile-right"><img src="/modules/home/Images/index_15.png" alt=""/></div>
    </div>
  </div>
</div>
<div class="content9">
  <div class="main2">
  <h3 class="hbt">团队</h3>
  <div class="clearfix pb80">
    <div class="img-scroll">
 <span class="prev2">prev2</span>
    <span class="next2">next2</span>
    <div class="img-list">
     <ul>
         <li>
                    <div class="team-up">
                      希望考啊考能带给大家更多的帮助。
                      <div class="team-border"></div>
                      <div class="team-background"></div>
                    </div>
                    <div class="team-down clearfix">
                      <span><img src="/modules/home/Images/index_16.jpg" alt=""/></span>
                      <dl>
                        <dt>江宏涛</dt>
                        <dd>CEO</dd>
                      </dl>
                    </div>
                  </li>
            <li>
                    <div class="team-up">
                      希望考啊考能带给大家更多的帮助。
                      <div class="team-border"></div>
                      <div class="team-background"></div>
                    </div>
                    <div class="team-down clearfix">
                      <span><img src="/modules/home/Images/index_16.jpg" alt=""/></span>
                      <dl>
                        <dt>江宏涛</dt>
                        <dd>CEO</dd>
                      </dl>
                    </div>
                  </li>
                  <li>
                    <div class="team-up">
                      希望考啊考能带给大家更多的帮助。
                      <div class="team-border"></div>
                      <div class="team-background"></div>
                    </div>
                    <div class="team-down clearfix">
                      <span><img src="/modules/home/Images/index_16.jpg" alt=""/></span>
                      <dl>
                        <dt>江宏涛</dt>
                        <dd>CEO</dd>
                      </dl>
                    </div>
                  </li>
                  <li>
                    <div class="team-up">
                      希望考啊考能带给大家更多的帮助。
                      <div class="team-border"></div>
                      <div class="team-background"></div>
                    </div>
                    <div class="team-down clearfix">
                      <span><img src="/modules/home/Images/index_16.jpg" alt=""/></span>
                      <dl>
                        <dt>江宏涛</dt>
                        <dd>CEO</dd>
                      </dl>
                    </div>
                  </li>
        </ul>
    </div>
</div>
</div>
</div>
</div>
<div class="content10 toppt3">
  <div class="main tc">
    <h2 class="h2bt ptb80">轻松学习,简单考试</h2>
    <a href="#" class="study-btn">开始学习</a>
  </div>
</div>
</body>
<script type="text/javascript">
    seajs.use(["home/js/index.js"], function (Index) {
        Index.init();
});
</script>
<script src="@Url.Content("~/modules/home/js/cycle.js")" type="text/javascript"></script>
<script src="@Url.Content("~/modules/home/js/example.js")" type="text/javascript"></script>
<script src="@Url.Content("~/modules/home/js/focus.js")" type="text/javascript"></script>
