{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<li>
        <a href="/course/detail/{%=item.CourseID%}"><img src="/modules/home/Images/index_07.png" alt=""/></a>
        <div class="v-bt">{%=item.CourseName%}</div>
        <div class="v-js">
          <p>{%=item.Keywords%}</p>
          <ul class="clearfix v-zt">
            <li class="v-praise">120</li>
            <li class="v-news">41</li>
            <li class="v-link">41</li>
            <li class="v-name">David</li>
          </ul>
        </div>
      </li>
{% } %}
