{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<li>
    <a href="/course/detail/{%=item.CourseID%}"><img src="{%=item.ImgURL%}" alt=""/></a>
    <div class="v-bt">{%=item.CourseName%}</div>
    <div class="v-js">
        <p><a href="#">{%=item.Keywords%}</a></p>
        <ul class="clearfix v-zt">
            <li class="v-praise">{%=item.PraiseCount%}</li>
            <li class="v-news">{%=item.InteractionCount%}</li>
            <li class="v-link">{%=item.ShareCount%}</li>
            <li class="v-name"><a href="#"><i><img src="{%=item.PhotoPath%}" alt=""/></i>{%=item.TName%}</a></li>
        </ul>
    </div>
</li>

{% } %}
