{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
 <li class="quiz_children" id="li_qa{%=item.ID%}">
    <div class="q-c-main clearfix" BindID="{%=item.ID%}">
    <div class="q-c-num">{%=item.ReplyCount%}</div>
    <div class="q-c-doc">
        <div class="q-c-bt">
        {%=item.UserName%}<span>{%=item.Integral%}</span>
        </div>
        <p>{%=item.Content%}</p>
    </div>
    <div class="q-c-time"> {%=item.CreateDate.createDateFormat()%}</div>
    <div class="q-c-ico"><img src="{%=item.PhotoPath%}" alt=""/><span>{%=item.Integral%}</span></div>
    </div>

    <dl class="q-c-nr clearfix">
    <dt class="tinct1">提问</dt>
    <dd>{%=item.Content%}</dd>
    <dt class="tinct2">回答</dt>
    <dd name="dd_firstqa">
        <p class="clearfix"><span class="l">共{%=item.ReplyCount%}条</span><span class="r">0/500</span></p>
        <textarea class="q-c-area" id="txt_answerMsg{%=item.ID%}"></textarea>
        <div class="q-c-dw">
        <input type="button" value="提交回答" class="q-c-btn" BindID="{%=item.ID%}" />
        </div>
    </dd>
    </dl>
</li>
{% } %}
