{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<li>
    <div class="user_icon"><img src="{%=item.PhotoPath%}" alt=""/></div>
    <div class="c-m-nr">
        <p class="c-m-top"><a href="#">{%=item.UserName%}</a>-  {%=item.CreateDate.createDateFormat()%}</p>
        <div class="c-m-mid">
            <p>{%=item.Content%}</p>
            <a name="a_showReplyDiv" class="reply" BindReplyID="{%=item.ID%}">回复</a>
        </div>
        <p class="c-m-down">
            <a href="javascript:void(0);" name="abtn_PraiseCount" BindReplyID="{%=item.ID%}"><i><img src="/modules/home/images/course_09.png" alt=""/></i><span>{%=item.PraiseCount%}</span></a>
            <a href="javascript:void(0);" name="a_showReplyDiv" BindReplyID="{%=item.ID%}"><i><img src="/modules/home/images/course_10.png" alt=""/></i>{%=item.ReplyCount%}</a>
            <!--<a href="#"><i><img src="/modules/home/images/course_11.png" alt=""/></i>0</a>-->
    </div>
    <div class="clear"></div>
    <div id="child{%=item.ID%}" class="child" style="padding-left:60px;">
        <textarea onfocus="if(value=='回复内容'){value=''}" id="txt_replyContent_{%=item.ID%}" onblur="if (value ==''){value='回复内容'}" class="comment-area2">回复内容</textarea>
        <div class="p10 clearfix">
            <div class="r">
            <input type="button" value="提交" name="btn_replyComment" BindReplyID="{%=item.ID%}"  class="comment-btn" />
            <input type="button" value="取消" onclick="click_box('child{%=item.ID%}')" class="comment-btn2" />
            </div>
        </div>
    </div>
    <div id="d_list{%=item.ID%}"><ul></ul></div>
  </li>
{% } %}
