@{
    ViewBag.Title = "UserLevel";
}

@section LeftMenu{
    @Html.Partial("_CustomerLeftMenu")
}
@section css{
    <link href="/modules/manage/css/users.css" rel="stylesheet" />
}
@section scripts{
     <script type="text/javascript">
         seajs.use(["manage/scripts/userlevel.js"], function (userlevel) {
             userlevel.init('@ViewBag.Type');
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">@(ViewBag.Type==1?"教师":"会员")等级设置</span>
</div>
@*<div class="search-opt mLeft20">
    <div class="left mTop20 mLeft20">
        
    </div>
</div>*@
<table class="table-list mLeft20 mTop20">
    <tr class="tr-header">
        <td>操作</td>
        <td>等级</td>
        <td>等级名称</td>
        <td>经验值</td>
        <td>折扣</td>
        <td>描述</td>
    </tr>

</table>
@*<div style="width:95%;">
    <div id="pager" class="mTop20"></div>
</div>*@