@{
    ViewBag.Title = "考啊考-用户中心";
}

<body>
<div class="content17 toppt3">
  <div class="member-main clearfix">
    <div id="area-main-left" class="l">
      <div id="block-user-left" data-active="active">
        <a href="#area=profile" class="thumb">
          <img src="/modules/home/images/index_16.jpg" class="avatar">
          <span class="cover">
            <i class="icon icon-user"></i>编辑资料
          </span>
        </a>
        <div class="d">
          <a href="/u/1011400.aspx" target="_blank" class="name">二描黑</a>
        </div>
        <button id="btn-sign-user" data-checked="1" class="btn success">
          <i class="icon icon-check-circle"></i>已签到
        </button>
        <p title="点击以修改签名" class="desc">
          这个人很懒，什么都没有写…
          <i class="icon icon-edit"></i>
        </p>
        <div class="area-extra">
          <div class="space"></div>
          <a href="#">
            <span class="pts">0</span>
            <span class="hin">投稿</span>
          </a>
          <a href="#">
            <span class="pts">0</span>
            <span class="hin">收听</span>
          </a>
          <a href="#">
            <span class="pts">0</span>
            <span class="hin">听众</span>
          </a>
          <a href="#">
            <span class="pts">143</span>
            <span class="hin">香蕉</span>
          </a>
          <a href="#">
            <span class="pts">0</span>
            <span class="hin">金香蕉</span>
          </a>
          <a href="#" title="28% - 当前总经验值：742 / 下一级所需总经验值：850">
            <span class="pts">8</span>
            <span class="hin">等级</span>
          </a>
          <span class="clearfix"></span>
        </div>
      </div>
      <div id="shadow-guide-left" class="hidden" style="height: 572px;"></div>
      <div id="list-guide-left" class="">
        <div class="part-guide-left active">
          <div class="banne clearfix">
            <a href="#" class="tab fixed">
              <i class="icon icon-home"></i>欢迎
            </a>
          </div>
        </div>
        <div class="part-guide-left">
          <div class="banne clearfix">
            <a href="#" class="tab fixed">
              <i class="icon icon-folder-open"></i>收藏夹
            </a>
          </div>
        </div>
        <div class="part-guide-left">
          <div class="banne clearfix">
            <a href="#" class="tab fixed">
              <i class="icon icon-history"></i>历史
            </a>
          </div>
        </div>
        <div class="part-guide-left">
          <div class="banne clearfix">
            <a href="#" class="tab fixed">
              <i class="icon icon-envelope-square"></i>私信
            </a>
            <span id="hint-mail-left">0</span>
          </div>
        </div>
        <div class="part-guide-left">
          <div class="banne clearfix">
            <p onclick="return click_box('child1')" class="tab fixed unfold">
              <i class="icon icon-upload"></i>投稿·管理
            </p>
          </div>
          <div id="child1" class="mainer" style="opacity: 1; height: 120px;">
            <a href="#" class="tab">
              <i class="icon"></i>快捷投稿
            </a>
            <a href="#" class="tab">
              <i class="icon"></i>视频投稿
            </a>
            <a href="#" class="tab">
              <i class="icon"></i>文章投稿
            </a>
            <a href="#" class="tab">
              <i class="icon"></i>过往投稿
            </a>
            <a href="#" class="tab">
              <i class="icon"></i>视频管理
            </a>
          </div>
        </div>
        <div class="part-guide-left">
          <div class="banne clearfix">
            <a href="#" class="tab fixed">
              <i class="icon icon-book"></i>合辑
            </a>
          </div>
        </div>
        <div class="part-guide-left">
          <div class="banne clearfix">
            <a href="#" class="tab fixed">
              <i class="icon icon-at"></i>圈子
            </a>
            <span id="hint-relation-left" class="hidden">0</span>
          </div>
        </div>
        <div class="part-guide-left">
          <div class="banne clearfix">
            <a href="#" class="tab fixed">
              <i class="icon icon-cog"></i>设置
            </a>
          </div>
        </div>
        <div class="part-guide-left">
          <div class="banne clearfix">
            <a href="#" class="tab fixed">
              <i class="icon icon-gift"></i>商城
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="area-main-right" class="r">
      <div id="area-cont-right">
        <div id="block-banner-right" class="banne">
          <div title="block-first" class="now">
            <i class="icon"></i>欢迎
          </div>
          <div title="block-second" class="old">
            <i class="icon"></i>邀请码
          </div>
        </div>
        <div id="block-first" class="block">
          <div class="mainer">
            <div id="area-cont-splash">
              <div id="area-user-splash">
                <div class="l">
                  <a href="#area=profile" class="thumb">
                    <img src="/modules/home/images/index_16.jpg" class="avatar">
                  </a>
                </div>
                <div class="r">
                  <a href="/u/1011400.aspx" class="name">二描黑</a>
                  <span class="uid">Uid:1011400</span>
                  <p id="hint-unread-splash">共有
                    <span class="pts">0</span>次
                    <a href="#area=mention">[召唤]</a>、
                    <span class="pts">0</span>条
                    <a href="#area=mail">[私信]</a>、
                    <span class="pts">0</span>个
                    <a href="#area=followers">[新听众]</a>和
                    <span class="pts">0</span>条
                    <a href="#area=push">[推送内容]</a>。
                  </p>
                  <p class="level">
                    <span style="width:43%;" class="a"></span>
                    <span class="b">Level.8 - Exp: 765 / 850 - Per: 43%</span>
                  </p>
                </div>
                <span class="clearfix"></span>
              </div>
              <div class="item">
                <div class="l">
                  <i style="color: #f69;" class="icon icon-clock-o"></i>
                </div>
                <div class="l">
                  <div class="a">
                    今日在线时长<span id="pts-online-splash" style="color: #f69;" class="pts">457</span>Mins
                  </div>
                  <div class="b">
                    用户本日的在线时长总和。
                  </div>
                </div>
                <span class="clearfix"></span>
              </div>
            </div>
          </div>
        </div>
        <div id="block-second" class="conceal"><div class="banne clearfix"><p class="tab fixed">获取邀请码<span class="hint">Get invitation code</span></p></div><div class="mainer"><h3><i class="icon icon-question-circle"></i>什么是邀请码？</h3><p class="alert">邀请码是一种用于注册的特殊通行证。当注册关闭时，新用户也能够通过邀请码成功进行注册。<br>一枚邀请码仅供一名新用户注册一次，使用后即失效。</p><h3><i class="icon icon-question-circle"></i>赠送邀请码需要注意什么？</h3><p class="alert warning">当使用邀请码注册的用户在注册后的六个月内受到系统处罚(如禁言、封禁等)时，发放该邀请码的用户也会一并受到处罚。<br>请谨慎赠送邀请码。</p><h3><i class="icon icon-question-circle"></i>如何获取邀请码？</h3><p class="alert">所有会员等级达到5级的用户每个月均可获得一枚邀请码。<br>当月获得的邀请码会在次月月初失效，注意不要让它过期哟。</p><p class="divider"></p><div class="unit"><div class="l"><button id="btn-get-invitation" class="btn success"><i class="icon icon-gift"></i>获取邀请码</button><input id="ipt-invitation-invitation" type="text" class="hidden ipt-invitation"><span class="clearfix"></span></div><div class="r"><a href="/info/#page=experience" target="_blank" class="btn info"><i class="icon icon-question-circle"></i>如何提升会员等级</a></div><span class="clearfix"></span></div></div></div>
      </div>
    </div>
  </div>
</div>
</body>
