.jPaginate{
    height:34px;
    position:relative;
    font-size:small;   
	width:90%;
    margin:0px auto;
}
.jPaginate .jPag-pages a,.jPaginate .jPag-pages span{
    display:inline-block;
    width:30px;height:30px;
    line-height:30px;
    text-align:center;font-size:18px;color:#ccc;
    -moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;
    cursor:pointer;
}
.jPaginate .jPag-pages a:hover {
color: #fff;
background: #999;
}
span.jPag-current{
color: #fff;
background: #009cdd;
}

.jPag-control-back{
    float:left;
    margin-right:5px;
}
.jPag-control-front{
    float:left;
}
.jPaginate span{
    cursor:pointer;
}
ul.jPag-pages{
    float:left;
    list-style-type:none;
    margin:0px 0px 0px 0px;
    padding:0px;
}
ul.jPag-pages li{
    padding:0px 5px;
    float:left;
}

ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-next,
span.jPag-sprevious,
span.jPag-snext,
ul.jPag-pages li span.jPag-previous-img,
ul.jPag-pages li span.jPag-next-img,
span.jPag-sprevious-img,
span.jPag-snext-img{
    height:22px;
    margin:2px;
    float:left;
    line-height:18px;
}

/*ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-previous-img{
    margin:2px 0px 2px 2px;
    font-size:12px;
    font-weight:bold;
        width:10px;

}
ul.jPag-pages li span.jPag-next,
ul.jPag-pages li span.jPag-next-img{
    margin:2px 2px 2px 0px;
    font-size:12px;
    font-weight:bold;
    width:10px;
}
span.jPag-sprevious,
span.jPag-sprevious-img{
    margin:2px 0px 2px 2px;
    font-size:18px;
    width:15px;
    text-align:right;
}
span.jPag-snext,
span.jPag-snext-img{
    margin:2px 2px 2px 0px;
    font-size:18px;
    width:15px;
     text-align:right;
}*/
ul.jPag-pages li span.jPag-previous-img{
    background:transparent url(../images/previous.png) no-repeat center right;
            }
ul.jPag-pages li span.jPag-next-img{
    background:transparent url(../images/next.png) no-repeat center left;
            }
span.jPag-sprevious-img{
    width: 17px;
background: url(../Images/previous2.png) no-repeat center center;
text-indent: 999px;
overflow: hidden;
border-radius: 0;
            }
span.jPag-snext-img{
        width: 17px;
background: url(../Images/next2.png) no-repeat center center;
text-indent: 999px;
overflow: hidden;
border-radius: 0;
            }
.jPag-count {color:#333; height:25px; line-height:25px; display:inline-block; position:absolute; top:0; right:0; text-align:right;}



